In [1]:
import pandas as pd
from pathlib import Path

In [2]:
path_ = '/home/success/Downloads/Data_ML/data/athlete_events.csv'

file = pd.read_csv(path_)

In [3]:
file

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,29.0,179.0,89.0,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN
271112,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
271113,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
271115,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN

In [4]:
file.shape

(271116, 15)

Check if their is any Nan values present inthe Sex column

In [5]:
print(file["Sex"].isna().any())

False

Check the possibility of answers

In [6]:
file["Sex"].unique()

array(['M', 'F'], dtype=object)

With operator AND (&)

In [7]:
file[(file["Sex"] == "M") & (file["Medal"] == "Gold")]

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
42,17,Paavo Johannes Aaltonen,M,28.0,175.0,64.0,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Team All-Around,Gold
44,17,Paavo Johannes Aaltonen,M,28.0,175.0,64.0,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Horse Vault,Gold
48,17,Paavo Johannes Aaltonen,M,28.0,175.0,64.0,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Pommelled Horse,Gold
60,20,Kjetil Andr Aamodt,M,20.0,176.0,85.0,Norway,NOR,1992 Winter,1992,Winter,Albertville,Alpine Skiing,Alpine Skiing Men's Super G,Gold
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
270896,135474,Albert Hermann Zrner,M,18.0,NaN,NaN,Germany,GER,1908 Summer,1908,Summer,London,Diving,Diving Men's Springboard,Gold
270917,135481,"Jules Alexis ""Louis"" Zutter",M,30.0,NaN,NaN,Switzerland,SUI,1896 Summer,1896,Summer,Athina,Gymnastics,Gymnastics Men's Pommelled Horse,Gold
270981,135503,Zurab Zviadauri,M,23.0,182.0,90.0,Georgia,GEO,2004 Summer,2004,Summer,Athina,Judo,Judo Men's Middleweight,Gold
271016,135523,"Ronald Ferdinand ""Ron"" Zwerver",M,29.0,200.0,93.0,Netherlands,NED,1996 Summer,1996,Summer,Atlanta,Volleyball,Volleyball Men's Volleyball,Gold
271049,135545,Henk Jan Zwolle,M,31.0,197.0,93.0,Netherlands,NED,1996 Summer,1996,Summer,Atlanta,Rowing,Rowing Men's Coxed Eights,Gold

With bitwise (~)

In [8]:
x = file[~(file["Sex"]== "F") & (file["Medal"] == "Gold")]
x

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
42,17,Paavo Johannes Aaltonen,M,28.0,175.0,64.0,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Team All-Around,Gold
44,17,Paavo Johannes Aaltonen,M,28.0,175.0,64.0,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Horse Vault,Gold
48,17,Paavo Johannes Aaltonen,M,28.0,175.0,64.0,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Pommelled Horse,Gold
60,20,Kjetil Andr Aamodt,M,20.0,176.0,85.0,Norway,NOR,1992 Winter,1992,Winter,Albertville,Alpine Skiing,Alpine Skiing Men's Super G,Gold
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
270896,135474,Albert Hermann Zrner,M,18.0,NaN,NaN,Germany,GER,1908 Summer,1908,Summer,London,Diving,Diving Men's Springboard,Gold
270917,135481,"Jules Alexis ""Louis"" Zutter",M,30.0,NaN,NaN,Switzerland,SUI,1896 Summer,1896,Summer,Athina,Gymnastics,Gymnastics Men's Pommelled Horse,Gold
270981,135503,Zurab Zviadauri,M,23.0,182.0,90.0,Georgia,GEO,2004 Summer,2004,Summer,Athina,Judo,Judo Men's Middleweight,Gold
271016,135523,"Ronald Ferdinand ""Ron"" Zwerver",M,29.0,200.0,93.0,Netherlands,NED,1996 Summer,1996,Summer,Atlanta,Volleyball,Volleyball Men's Volleyball,Gold
271049,135545,Henk Jan Zwolle,M,31.0,197.0,93.0,Netherlands,NED,1996 Summer,1996,Summer,Atlanta,Rowing,Rowing Men's Coxed Eights,Gold

if check the most rewards gold medals male:

In [9]:
x.mode().iloc[0]

ID                          94406
Name      Michael Fred Phelps, II
Sex                             M
Age                          23.0
Height                      183.0
Weight                       75.0
Team                United States
NOC                           USA
Games                 1920 Summer
Year                         1920
Season                     Summer
City                       London
Sport                   Athletics
Event     Football Men's Football
Medal                        Gold
Name: 0, dtype: object

Show the 10 most winners Male of Gols medals

In [10]:
top_names = x["Name"].value_counts().head(10)
top_names

Name
Michael Fred Phelps, II           23
Raymond Clarence "Ray" Ewry       10
Mark Andrew Spitz                  9
Frederick Carlton "Carl" Lewis     9
Paavo Johannes Nurmi               9
Matthew Nicholas "Matt" Biondi     8
Sawao Kato                         8
Usain St. Leo Bolt                 8
Ole Einar Bjrndalen                8
Nikolay Yefimovich Andrianov       7
Name: count, dtype: int64

In [11]:
print(top_names.sum())
print(top_names.index)

99
Index(['Michael Fred Phelps, II', 'Raymond Clarence "Ray" Ewry',
       'Mark Andrew Spitz', 'Frederick Carlton "Carl" Lewis',
       'Paavo Johannes Nurmi', 'Matthew Nicholas "Matt" Biondi', 'Sawao Kato',
       'Usain St. Leo Bolt', 'Ole Einar Bjrndalen',
       'Nikolay Yefimovich Andrianov'],
      dtype='object', name='Name')

In [12]:
# Assuming 'file' is your DataFrame
#top_names = ['Michael Fred Phelps, II']
data_10_most_winners = x[x['Name'].isin(top_names.index)]
print(data_10_most_winners)

            ID                          Name Sex   Age  Height  Weight  \
7512      4198  Nikolay Yefimovich Andrianov   M  19.0   166.0    60.0
7518      4198  Nikolay Yefimovich Andrianov   M  23.0   166.0    60.0
7520      4198  Nikolay Yefimovich Andrianov   M  23.0   166.0    60.0
7521      4198  Nikolay Yefimovich Andrianov   M  23.0   166.0    60.0
7524      4198  Nikolay Yefimovich Andrianov   M  23.0   166.0    60.0
...        ...                           ...  ..   ...     ...     ...
226664  113912             Mark Andrew Spitz   M  22.0   183.0    73.0
226665  113912             Mark Andrew Spitz   M  22.0   183.0    73.0
226666  113912             Mark Andrew Spitz   M  22.0   183.0    73.0
226667  113912             Mark Andrew Spitz   M  22.0   183.0    73.0
226668  113912             Mark Andrew Spitz   M  22.0   183.0    73.0

                 Team  NOC        Games  Year  Season      City       Sport  \
7512     Soviet Union  URS  1972 Summer  1972  Summer    Munich  Gymnastics
7518     Soviet Union  URS  1976 Summer  1976  Summer  Montreal  Gymnastics
7520     Soviet Union  URS  1976 Summer  1976  Summer  Montreal  Gymnastics
7521     Soviet Union  URS  1976 Summer  1976  Summer  Montreal  Gymnastics
7524     Soviet Union  URS  1976 Summer  1976  Summer  Montreal  Gymnastics
...               ...  ...          ...   ...     ...       ...         ...
226664  United States  USA  1972 Summer  1972  Summer    Munich    Swimming
226665  United States  USA  1972 Summer  1972  Summer    Munich    Swimming
226666  United States  USA  1972 Summer  1972  Summer    Munich    Swimming
226667  United States  USA  1972 Summer  1972  Summer    Munich    Swimming
226668  United States  USA  1972 Summer  1972  Summer    Munich    Swimming

                                                Event Medal
7512                  Gymnastics Men's Floor Exercise  Gold
7518           Gymnastics Men's Individual All-Around  Gold
7520                  Gymnastics Men's Floor Exercise  Gold
7521                     Gymnastics Men's Horse Vault  Gold
7524                           Gymnastics Men's Rings  Gold
...                                               ...   ...
226664  Swimming Men's 4 x 100 metres Freestyle Relay  Gold
226665  Swimming Men's 4 x 200 metres Freestyle Relay  Gold
226666            Swimming Men's 100 metres Butterfly  Gold
226667            Swimming Men's 200 metres Butterfly  Gold
226668     Swimming Men's 4 x 100 metres Medley Relay  Gold

[99 rows x 15 columns]

In [13]:
data_10_most_winners.shape

(99, 15)